<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jplogo_1024pt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:exported="true"
            android:name="com.example.apologize.js_app.APP_Strat"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Authority.CheckinAuthorityLoginView"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Authority.CheckinAuthoritySetView"/>
        <activity android:name="com.example.apologize.js_app.Base.JP_Search_View"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.PersonalAttendance.SearchResultDetail"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.PersonalAttendance.SearchCondition"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Attendance.EmployeAttendance_Search"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Attendance.EmployeAttendanceCondition"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Attendance.EmployeAttendanceResult"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.Leave_Search_View"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.Jiaban_Search_View"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveAudit"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanAudit"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveAuditCondition"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanAuditCondition"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveAuditSearchView"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanAuditSearchView"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveMenu"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanMenu"/>
        <activity android:name="com.example.apologize.js_app.Base.Search_View"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveRequest"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveSearchResult"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanSearchResult"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Leave.LeaveSearchCondition"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanRequest"/>
        <activity android:name="com.example.apologize.js_app.CheckInWork.Jiaban.JiabanSearchCondition"/>
        <activity android:name="com.example.apologize.js_app.Base.DrawBoard"/>
        <activity android:name="com.example.apologize.js_app.Base.Calender" />
        <activity android:name="com.example.apologize.js_app.Base.SearchPage" />
        <activity
            android:name="com.example.apologize.js_app.Base.SendReport"
            android:label="@string/title_activity_send_report" />
        <activity
            android:name="com.example.apologize.js_app.Base.SendReport_OpenHeader"
            android:label="@string/title_activity_send_report__open_header" />
        <activity
            android:name="com.example.apologize.js_app.Base.SendReport_OpenFooder"
            android:label="@string/title_activity_send_report__open_fooder" />
        <activity android:name="com.example.apologize.js_app.APP_JPServerLogIn" />
        <activity android:name="com.example.apologize.js_app.APP_CheckIn" />
        <activity android:name="com.example.apologize.js_app.APP_JPMenu" />
        <activity android:name="com.example.apologize.js_app.CheckInWork.CheckInWorkMenu" />
        <activity android:name="com.example.apologize.js_app.CheckInWork.SetCheckInButton"></activity>
    </application>

</manifest>